* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-app__list {
    list-style: none;
    font-size: 0;
    display: table;
    margin: 0 auto;
    text-align: center;
}
.game-app__item {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px 30px;
}

.game-app__link {
    position: relative;
    transition: all .3s;
}
.game-app__link:before {
    content: 'жмак';
    display: block;
    top: 0;
    left: 0;
    color: #fff;
    font: 400 14px/96px Arial;
    position: absolute;
    text-align: center;
    transition: all .5s;
    background: #000;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
}
.game-app__link:hover {

}
.game-app__link.active {
    transition: all .5s;
}
.game-app__link.active:before {
    transform: scale(0);
}

.game-app__img {
    display: block;
    width: 96px;
    height: 96px;
    transition: all .3s;
}

.btn {
    display: block;
    border: 0;
    outline: none;
    background: red;
    margin: 0 auto;
    color: #fff;
    font: 400 16px Arial;
    padding:10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s;
}
.btn:hover {
    transition: all .3s;
    opacity: .6;
}